@media (max-width: 1280px) {
  .catalog-h1 {
    font-size: 50px;
  }

  .catalog-main-bg {
    height: 630px;
  }

  .h-media-text-align {
    text-align: center;
  }

  .margin-right-left-40px {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pad-media-position {
    padding-left: 20px;
  }

  .pad-position {
    padding-right: 0;
  }

  .pad-top-50px-media {
    padding-top: 50px;
  }

  .article-width {
    width: 280px;
  }

  .music-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-text {
    width: 244px;
  }

  .img-preview-size {
    width: 130px;
    height: 130px;
  }

  .wrapper-280-1200-px {
    max-width: 280px;
    display: flex;
  }

  .font-size-16px-media {
    font-size: 16px;
  }

  .width-140px-media {
    width: 130px;
  }

  .article-position {
    padding-bottom: 25px;
  }

  .font-size-14-media {
    font-size: 14px;
  }

  .width-435px {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .media-margin {
    margin-bottom: 25px;
  }

  .wrapper {
    max-width: 1000px;
  }

  .wrapper-footer{
    max-width: 900px;
  }

  .header {
    max-width: 1000px;
    margin: 0 auto;
  }

  .news-section {
    display: flex;
    flex-direction: column;
  }

  .media-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    text-align: center;
  }

  .card-btn {
   width: 240px;
   height: 65px;
  }

  .news-button {
    width: 300px;
    height: 50px;
    font-size: 13px;
  }

  .media-mobile-app {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-app-btn {
    width: 280px;
    height: 50px;
    font-size: 15px;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .margin-right-73px {
    margin-right: 0;
  }

  .card-1 {
    margin-bottom: 50px;
  }

  .card-2 {
    margin-bottom: 50px;
  }

  .p-info {
    font-size: 20px;
    max-width: 566px;
    margin: 0 auto;
  }

  .news-text {
    max-width: 566px;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    max-width: 280px;
  }

  .margin-right-left-40px {
    padding-left: 0;
    padding-right: 0;
  }

  .pad-bottom-254px {
   margin-bottom: 50px;
  }

  .pad-left-36px {
    padding-left: 0;
  }

  .width-435px {
    width: 280px;
  }

  .catalog-btn {
    width: 280px;
  }

  .font-size-12px-media {
    font-size: 12px;
  }

  .pad-top-240px {
    padding-top: 100px;
  }

  .font-size-30-media {
    font-size: 30px;
  }

  .img-executor-media-size {
    width: 130px;
    height: 130px;
  }

  .font-size-20px-media {
    font-size: 20px;
  }

  .flex-dir-align-items-media {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .header-textarea-content {
    width: 280px;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    order: 1;
    line-height: 25px;
    margin-top: 20px;
  }

  .header-textarea-content {
    margin-top: 20px;
  }

  .main-h1 {
    margin-top: 70px;
    font-size: 30px;
  }

  .main-h2 {
    font-size: 20px;
  }

  .main-h3 {
    font-size: 13px;
  }

  .main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-input-1 {
    margin-bottom: 30px;
  }

  .main-btn {
    width: 275px;
  }

  .subscription-forms-h1 {
    font-size: 20px;
  }

  .h3-card {
    font-size: 16px;
  }

  .card-1 {
    width: 280px;
    height: 464px;
    border-radius: 10px;
  }

  .card-2 {
    width: 280px;
    height: 464px;
    border-radius: 10px;
  }

  .card-3 {
    width: 280px;
    height: 464px;
    border-radius: 10px;
  }

  .card-price-text {
    font-size: 30px;
  }

  .card-content {
    padding-top: 160px;
  }

  .card-btn {
    width: 239px;
    height: 55px;
    font-size: 12px;
  }

  .card-text {
    width: 244px;
  }

  .p-info {
    width: 275px;
    font-size: 12px;
    line-height: 16px;
  }

  .h1-info {
    font-size: 20px;
    margin-top: 44px;
  }

  .news-image-size {
    width: 280px;
    height: 140px;
  }

  .news-button {
    width: 280px;
  }

  .news-section {
    display: flex;
    flex-direction: column;
  }

  .news-text {
    text-align: start;
  }

  .news-data-block {
    width: 280px;
  }

  .mobile-app-block-text {
    text-align: start;
  }

  .wrapper-footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 280px;
  }

  .media-column {
    margin-bottom: 40px;
  }

  .wrapper-footer-other {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
  }

  .a-footer-2 {
    line-height: 40px;
  }
}
