body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #08020d;
}

.btn {
  background: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  line-height: 16px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper-footer {
  width: 1020px;
  margin: 0 auto;
}

.width-550px {
  width: 550px;
}

.pad-left-17px {
  padding-left: 17px;
}

.p-marg-0 {
  margin: 0;
}

.font-size-22px {
  font-size: 22px;
}

  .line-height-26px {
    line-height: 26px;
  }

.line-height-20px {
  line-height: 20px;
}

.flex-justify-content-start {
  display: flex;
  justify-content: start;
}

.pad-top-10px {
  padding-top: 10px;
}

.pad-bottom-254px {
  padding-bottom: 254px;
}

.position-absolute {
  position: absolute;
}

.pad-top-100px-media-news {
  padding-top: 100px;
}

.pad-top-20px {
  padding-top: 20px;
}

.pad-top-25px {
  padding-top: 25px;
}

.pad-top-30px {
  padding-top: 30px;
}

.pad-top-50px {
  padding-top: 50px;
}

.pad-top-70px {
  padding-top: 70px;
}

.pad-bottom-120px {
  padding-bottom: 120px;
}

.pad-bottom-25px {
  padding-bottom: 25px;
}

.pad-bottom-100px {
  padding-bottom: 100px;
}

.pad-left-36px {
  padding-left: 36.6px;
}

.pad-bottom-25px {
  padding-bottom: 25px;
}

.pad-bottom-50px {
  padding-bottom: 50px;
}

.pad-right-50px {
  padding-right: 50px;
}

.pad-bottom-15px {
  padding-bottom: 64px;
}

.margin-right-73px {
  margin-right: 73px;
}

.pad-top-40px {
  padding-top: 40px;
}

.pad-top-80px {
  padding-top: 80px;
}

.pad-top-100px {
  padding-top: 100px;
}

.margin-top-50px {
  margin-top: 50px;
}

.padding-right-3px {
  padding-right: 3px;
}

.width-100px {
  width: 100px;
}

.pad-top-240px {
  padding-top: 240px;
}

.font-style-normal {
  font-style: normal;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-60px {
  font-size: 60px;
}

.font-size-11px {
  font-size: 11px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-13px {
  font-size: 13px;
}

.font-size-30px {
  font-size: 30px;
}

.margin-top-100px {
  margin-top: 100px;
}

.color-gray {
  color: #808080;
}

.text-align-center {
  text-align: center;
}

.font-size-38px {
  font-size: 38px;
}

.margin-top-232px {
  margin-top: 232px;
}

.padding-right-10px {
  padding-right: 10px;
}

.pad-top-223px {
  padding-top: 223px;
}

.pad-top-45px {
  padding-top: 45px;
}

.pad-top-215px {
  padding-top: 215px;
}

.margin-bottom-254px {
  margin-bottom: 254px;
}

.pad-top-15px {
  padding-top: 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.color-white {
  color: white;
}

.text-transform {
  text-transform: uppercase;
}

.ds-flex {
  display: flex;
}

h1, h2, h3 {
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
}


