.bg-footer {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390c 81.56%);
}

.a-footer {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
  padding-bottom: 20px;
}

.heading-footer-column {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #cacaca;
  padding-bottom: 30px;
}

.wrapper-footer-other {
  width: 534px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.a-footer-2 {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #cacaca;
}

.footer-border {
  border-top: 1px solid #eeeeee;
  width: 100%;
}
